.tfun-content{height:200px; overflow:hidden}
.panel-footer{overflow: hidden;}
.dz{float:left;margin-left:8px;font-size:12px}
.zk{float:right;margin-right:8px;font-size:12px}
.dz .glyphicon,.zk .glyphicon{margin-right:5px}