<volist name="list" id="record">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <empty name="$record['title']">
                    <h3 class="panel-title">没标题</h3>
                <else/>
                    <h3 class="panel-title">{$record['title']}</h3>
                </empty>
            </div>
            <div class="panel-body tfun-content">
                <div class="content-conatiner">
                    {$record['content']}
                </div>
            </div>
            <div class="panel-footer">
                <div class="dz">
                    <span class="glyphicon glyphicon-thumbs-up"></span>赞
                </div>
                <div class="zk">
                    <span class="glyphicon glyphicon-plus-sign"></span>展开全部
                </div>
            </div>
        </div>
    </div>
</volist>