<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link type="text/css" rel="stylesheet" href="__ROOT__/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="__ROOT__/css/mystyle.css"/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFUN</a>
        </div>
</nav>
{__CONTENT__}
<script type="javascript" src="__ROOT__/js/jquery-1.10.2.min.js"></script>
<script type="javascript" src="__ROOT__/js/bootstrap.js"></script>
</body>
</html>